/*IMPORT*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@897&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@502&display=swap');

/*
font-family: 'Palanquin Dark', sans-serif;

font-family: 'Quicksand', sans-serif;

font-family: 'Josefin Sans', sans-serif;

font-family: "Montserrat", sans-serif;
*/


* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    transition: 0.2s ease-out;
    background-color: var(--bg);
    --bg: rgb(201, 201, 201);

    --bg-pop: rgb(255, 245, 239);
    --bg-bar: rgb(235, 235, 235);

    --menu-btn: rgb(235, 235, 235);
    --hover: rgba(230, 230, 230, 0.747);

    --darkmode: url(../static/sun.svg);

    /*--darkmode: url(moon.svg);*/

    /* Nucleo */
    --nucleo: rgb(19, 121, 216);

    /* Text */
    --black: rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
    --white-dn: rgb(0, 0, 0);

    /*nav*/
    --trsx: rgba(0, 0, 0, 0.466);
    --trsh: rgba(238, 238, 238, 0.466);
    --trsv: rgba(255, 255, 255, 0.836);

    /* Button */
    --button: rgba(255, 255, 255, 0.66);


    /* Background Gradient */
    --demo2: linear-gradient(45deg,hsl(0deg 0% 71%) 0%,hsl(344deg 0% 67%) 18%,hsl(344deg 0% 64%) 31%,hsl(344deg 0% 60%) 42%,hsl(344deg 0% 57%) 53%,hsl(344deg 0% 53%) 62%,hsl(344deg 0% 50%) 71%,hsl(344deg 0% 46%) 80%,hsl(344deg 0% 43%) 90%,hsl(0deg 0% 39%) 100%);
    --demo3: linear-gradient(45deg,hsl(0deg 0% 0%) 2%,hsl(344deg 0% 5%) 59%,hsl(344deg 0% 8%) 75%,hsl(344deg 0% 11%) 84%,hsl(344deg 0% 14%) 90%,hsl(344deg 0% 16%) 94%,hsl(344deg 0% 24%) 97%,hsl(344deg 0% 38%) 99%,hsl(344deg 0% 52%) 100%,hsl(344deg 0% 67%) 100%,hsl(344deg 0% 83%) 100%,hsl(0deg 0% 100%) 100%);
    --demo4: linear-gradient(45deg,hsl(141deg 63% 49%) 0%,hsl(159deg 100% 40%) 15%,hsl(169deg 100% 39%) 28%,hsl(180deg 100% 38%) 40%,hsl(190deg 100% 43%) 51%,hsl(197deg 100% 48%) 61%,hsl(201deg 100% 50%) 71%,hsl(204deg 100% 50%) 81%,hsl(208deg 100% 50%) 90%,hsl(213deg 100% 50%) 100%);
    --proyect-1: linear-gradient(
        270deg,
        hsl(269deg 100% 48%) 0%,
        hsl(255deg 89% 61%) 8%,
        hsl(243deg 85% 66%) 15%,
        hsl(231deg 82% 65%) 23%,
        hsl(220deg 81% 63%) 31%,
        hsl(211deg 80% 60%) 38%,
        hsl(204deg 80% 56%) 46%,
        hsl(202deg 78% 54%) 54%,
        hsl(205deg 75% 52%) 62%,
        hsl(208deg 73% 50%) 69%,
        hsl(212deg 75% 48%) 77%,
        hsl(216deg 78% 46%) 85%,
        hsl(222deg 84% 44%) 92%,
        hsl(229deg 99% 40%) 100%
      );
    --proyect-2: linear-gradient(
        270deg,
        hsl(269deg 100% 48%) 0%,
        hsl(255deg 89% 61%) 8%,
        hsl(243deg 85% 66%) 15%,
        hsl(231deg 82% 65%) 23%,
        hsl(220deg 81% 63%) 31%,
        hsl(211deg 80% 60%) 38%,
        hsl(204deg 80% 56%) 46%,
        hsl(202deg 78% 54%) 54%,
        hsl(205deg 75% 52%) 62%,
        hsl(208deg 73% 50%) 69%,
        hsl(212deg 75% 48%) 77%,
        hsl(216deg 78% 46%) 85%,
        hsl(222deg 84% 44%) 92%,
        hsl(229deg 99% 40%) 100%
      );
    --demo: linear-gradient(45deg, hsl(240, 100%, 50%) 0%, hsl(243deg 97% 48%) 5%, hsl(244deg 94% 46%) 10%, hsl(245deg 91% 44%) 15%, hsl(246deg 88% 41%) 20%, hsl(247deg 86% 39%) 25%, hsl(248deg 84% 37%) 30%, hsl(249deg 81% 34%) 35%, hsl(250deg 79% 32%) 40%, hsl(250deg 77% 29%) 45%, hsl(251deg 75% 27%) 50%, hsl(252deg 73% 24%) 55%, hsl(253deg 70% 22%) 60%, hsl(254deg 67% 19%) 65%, hsl(255deg 64% 17%) 70%, hsl(256deg 61% 15%) 75%, hsl(259deg 57% 12%) 80%, hsl(265deg 58% 10%) 85%, hsl(271deg 62% 7%) 90%, hsl(268deg 68% 4%) 95%, hsl(0deg 0% 0%) 100%);
    
    /* Background de objetos */
    --header: rgb(255, 255, 255);
    --header-hover: rgb(207, 207, 207);
    --bar: #2b2b2b;

    --status-base: rgb(209, 209, 209);
    --status: #000000;

    --btn-proyects: white;
    --btn-mark: #140b6f;


    /**/
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

::selection {
    background-color: #1a69e07c;
}

body.dark {
    transition: 0.2s ease-out all;

    background-color: var(--bg);
    --bg: #1A1A1A;

    --bg-pop: #2e2e2e;
    --bg-bar: rgb(53, 53, 53);
    --bar: #2b2b2b;

    --menu-btn: rgb(235, 235, 235);
    --hover: rgba(230, 230, 230, 0.747);

    --darkmode: url(../static/moon.svg);

    /*--darkmode: url(sun.svg);*/

    /* Nucleo */
    --nucleo: rgb(19, 121, 216);

    /* Text */
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --white-dn: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
    /**/
    --shadow-color: 0deg 0% 2%;
    --shadow-elevation-low:
        0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
        0px 0.1px 0.1px -1.2px hsl(var(--shadow-color) / 0.34),
        0px 0.3px 0.3px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
        0px 0.1px 0.1px hsl(var(--shadow-color) / 0.36),
        0px 0.2px 0.2px -0.8px hsl(var(--shadow-color) / 0.36),
        0px 0.6px 0.7px -1.7px hsl(var(--shadow-color) / 0.36),
        -0.1px 1.5px 1.7px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
        0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
        0px 0.4px 0.5px -0.4px hsl(var(--shadow-color) / 0.34),
        0px 0.8px 0.9px -0.7px hsl(var(--shadow-color) / 0.34),
        -0.1px 1.3px 1.5px -1.1px hsl(var(--shadow-color) / 0.34),
        -0.1px 2.1px 2.4px -1.4px hsl(var(--shadow-color) / 0.34),
        -0.1px 3.3px 3.7px -1.8px hsl(var(--shadow-color) / 0.34),
        -0.2px 5px 5.6px -2.1px hsl(var(--shadow-color) / 0.34),
        -0.3px 7.4px 8.3px -2.5px hsl(var(--shadow-color) / 0.34);
}

input,button,textarea,select {
    font: inherit;
}

button {
    border: none;
}

br {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 11px;
    background: var(--bg)
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid var(--bg);
    background: var(--bar);
}

body::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}

/**/

.carrusel-box::-webkit-scrollbar {
    height: 12px;
    border-radius: 8px;
    background: var(--bg);
}

.carrusel-box::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid var(--bg);
    background: var(--bar);
}

.carrusel-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}

body::-webkit-scrollbar:hover {
    background: var(--bg-bar)
}

.carrusel-box::-webkit-scrollbar:hover {
    background: var(--bg-bar)
}

body::-webkit-scrollbar:hover body::-webkit-scrollbar-thumb {
    border: 1px solid var(--bg-bar);
}

.carrusel-box::-webkit-scrollbar:hover .carrusel-box::-webkit-scrollbar-thumb {
    border: 1px solid var(--bg-bar);
}

@media (max-width:780px) {

    .scroll-frost {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    body {
        --darkmode: url(../static/sun-black.svg);
    }

}

@media (min-width:2000px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }
}